project:
  type: website

website:
  title: "alex hayes"
  site-url: https://www.alexpghayes.com
  repo-url: https://github.com/alexpghayes/quarto-blog
  repo-actions: [edit, issue]
  open-graph: true
  twitter-card:
    creator: "@alexpghayes"
    card-style: summary_large_image
  navbar:
    right:
      - text: about
        file: index.qmd
      - posts.qmd
      - papers/index.qmd
      - code/index.qmd
      - teaching/index.qmd
      - talks/index.qmd
      - icon: github
        href: https://github.com/alexpghayes
      - icon: twitter
        href: https://twitter.com/alexpghayes
      - icon: linkedin
        href: https://www.linkedin.com/in/alexpghayes/
  google-analytics: "G-G6PQFW2XSK"
  page-footer: 
    right:
      - text: website source
        href: https://github.com/alexpghayes/quarto-blog

format:
  html:
    theme: ember.scss
    css: styles.css